:root {
    --background-color: #333438
}

*{
    background-color: var(--background-color);
}
.conteiner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #ffff;
    margin-left:3rem;
}
.conteiner__img_perfil{
    border-radius: 9999px;
}

.conteiner__topics{
    justify-content: center;
    align-items: center;
}